/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --background-image: url(../images/cover-image-dark.png);
  /* фон */
  --background-color: #000028;
  /* цвет фокуса */
  --title-color: #db00ff;
  /* акцентный цвет для тени фокуса и фона загловков h3 и h4  */
  --accent-color: #ff0070;
  /* цвет текста выделенных заголовков */
  --text-color-tiles: #000028;
  /* цвет текста для заголовков h2 */
  --accent-color-title: #ff0070;
  /* цвет текста */
  --description-text: #f1b2ce;
  /* цвет списка кнопок переключени тем и уголоков */
  --nav-color: #ff0070;
  --nav-color-rgb: rgba(255, 0, 112, 1);
  --rec-display: block;
}
