/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-image: url(../images/cover-image-dark.png);
  /* фон */
  --background-color: #000028;
  /* цвет фокуса */
  --title-color: #db00ff;
  /* акцентный цвет для тени фокуса и фона загловков h3 и h4  */
  --accent-color: #ff0070;
  /* цвет текста выделенных заголовков */
  --text-color-tiles: #000028;
  /* цвет текста для заголовков h2 */
  --accent-color-title: #ff0070;
  /* цвет текста */
  --description-text: #f1b2ce;
  /* цвет списка кнопок переключени тем и уголоков */
  --nav-color: #ff0070;
  --nav-color-rgb: rgba(255, 0, 112, 1);
  --rec-display: block;
}
